<div>
    <!--categoryEditorController-->
    {{treeOptions.equality}}

    <div class="row">
        <treecontrol class="tree-classic col-md-5"
                tree-model      = "categoryEditorController.data"
                options         = "treeOptions"
                on-selection    = "categoryEditorController.onSelect(node, $parentNode)">
                {{node.label}}
        </treecontrol>

        <div class="col-md-5">
            <div class="row">
                <input type="text" ng-model="categoryEditorController.nodeLabel">
                <button type="button" ng-click="categoryEditorController.delete()"class="btn">Delete</button>
                <button type="button" ng-click="categoryEditorController.rename()"class="btn">Rename</button>
            </div>
            <div class="row">
                <input type="text" ng-model="categoryEditorController.newNodeLabel">
                <button type="button" ng-click="categoryEditorController.add()" class="btn">Add</button>
            </div>

            <button type="button" ng-click="categoryEditorController.submitTransaction()" class="btn btn-primary">Commit</button>

        </div>

    </div>



</div>